[Unit]
Description=Stand-Off Application
ConditionPathExists=|/home/root/Progetto\ CBRN/Centrale_Controllo_PC_v1_1/
Wants=avahi-daemon.socket dropbear.service cape.service
After=avahi-daemon.socket dropbear.service cape.service syslog.target 
DefaultDependecies=no

[Service]
Type=simple
Restart=always
ExecStart=/home/root/Progetto\ CBRN/Centrale_Controllo_PC_v1_1/centrale_controllo_stdof.o
WorkingDirectory=/home/root/Progetto\ CBRN/Centrale_Controllo_PC_v1_1

[Install]
WantedBy=multi-user.target
